<div class="main">
    <div class="explore-header">
      <div class="genre-dropdown">
        <label for="subject" class="title">Select a Genre:</label>
        <select class ="form-select" id="genre-select" [(ngModel)]="selectedSubject" name="subject" (change)="reset(); onSubjectSelected()">
          <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
        </select>
      </div>
    </div>
  
    <div class="book-cards">
      <div class="card" *ngFor="let book of bookSuggestions">
        <div class="row">
          <div class="col-md-3">
            <a [href]="book.volumeInfo.infoLink" target="_blank">
              <img [src]="book.volumeInfo.imageLinks?.thumbnail" class="card-img-top" alt="Book Image">
            </a>
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">{{ book.volumeInfo.title }}</h5>
              <p class="card-subtitle mb-2">
                <strong>Author(s):</strong> {{ book.volumeInfo.authors ? book.volumeInfo.authors.join(', ') : 'N/A' }}
              </p>
              <button class="btn btn-primary" (click)="addToWishlist(book)">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="more" *ngIf="selectedSubject!=''">
      <button class="btn more-btn" (click)="moreresults()">More</button>
    </div>
</div>