.main {
  background-image: url('../../assets/login2.png');
  background-size: cover;
  background-position: -300px 10%;
}

.login-container {
  display: flex;
  height: 100vh;
}

.left-side {
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.title {
  font-size: 50px;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  text-shadow: 2px 5px 3px rgba(0,0,0,0.5);
}
.title:hover {
  transform: scale(1.2);
}
.logo{
  max-width: 100%;
  max-height: 150px; 
  margin-top: 20px;
}
@keyframes beat {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}

.logo:hover {
  animation: beat 1s infinite;
}

.tagline {
  font-size: 25px;
  margin: 10px 0;
  text-align: center;
  transition :all 0.4s ease-in-out;
}
@keyframes tag {
  0% {
    box-shadow: 0 0 15px rgb(37, 43, 49);
    scale: 1;
  }
  50% {
    border: none;
    box-shadow: 0 0 5px rgb(37, 43, 49);  
    scale: 1.05;
  }
  100% {
    box-shadow: 0 0 15px rgb(37, 43, 49);
    scale: 1;
  }
}
.tagline:hover {
  animation: tag 1s infinite;
  background-color:rgba(0, 0, 0,0.3);
  border-radius: 10px;
  letter-spacing: 7px;
}

.catchy-message {
  margin-top: 100px; 
  text-align: center;
  font-size: 20px;
}

.right-side {
  border-radius: 30% 0% 0% 30%;
  background: rgb(40, 47, 54);
  display: flex; 
  flex-direction: column;
  justify-content: center;
  box-shadow: -20px -20px 30px rgba(0,0,0,0.45)
}

.login-form {
  background-color: rgb(202, 201, 201);
  color:white;
  border-radius: 15px;
  flex: 1;
  padding: 30px;
  margin: 0px 100px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: rgb(40, 47, 54);
  font-size: 20px;
  font-weight: 500;
  text-align:left ;
  
}

h2 {
  color: rgb(40, 47, 54);
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 25px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  outline: none;
  border: 3px solid rgb(40, 47, 54);
  box-shadow: 0 0 5px rgb(37, 43, 49);
} 

.btn-primary,
.btn-secondary {
  margin-top: 20px;
  margin-right: 1%;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  width: 49%;
  font-size: 1.3em;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
  border: 3px solid rgb(40, 47, 54);
  background-color: transparent;
  color: rgb(40, 47, 54);
}

.btn-primary:hover {
  background-color: rgb(40, 47, 54);
  color: #ccc;
}

.btn-secondary {
  border: 3px solid rgb(40, 47, 54);
  background-color: transparent;
  color:rgb(40, 47, 54);
}

.btn-secondary:hover {
  background-color:rgb(40, 47, 54);
  color: #ccc;
}

.btn-primary:focus, .btn-secondary:focus {
  box-shadow: none;
  outline: 2px solid rgb(147, 153, 156);
}

.btn-primary:active, .btn-secondary:active {
  background-color: rgb(40, 47, 54);
  border: 2px solid rgb(40, 47, 54);
  color: #ccc;  
}

