<div class="main">
    <div class="team">
        <div class="card">
            <img src="../../assets/Photo.png"  class="card-img-top prarthi" alt="...">
            <div class="card-body">
                <h5 class="card-title">Prarthi Joshi</h5>
                <h6 class="card-subtitle mb-2 role">21162101009</h6>
                <p class="card-text">
                    "Dive into the depths with ReaDYP, where every word matters."
                </p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Photo 5.png"  class="card-img-top dhruvi" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dhruvi Suthar</h5>
                <h6 class="card-subtitle mb-2 role">21162101005</h6>
                <p class="card-text">
                    "ReaDYP, where great stories and passionate readers meet, one page at a time."
                </p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/Photo 6.png"  class="card-img-top yash" alt="...">
            <div class="card-body">
                <h5 class="card-title">Yash Lakhtariya</h5>
                <h6 class="card-subtitle mb-2 role">21162101012</h6>
                <p class="card-text">
                    "ReaDYP is your gateway to immersive reading experiences."
                </p>
            </div>
        </div>
    </div>

    
  

<!-- <div class="main">
    <div class="about-us-content">
    <h1 class="title">About Us</h1>
        <img class="logo" src="../../assets/logo2.png" alt="ReaDYP Logo">
        <h1 class="name">ReadDYP</h1>
        <div class="about-us-text">
            <p>
                At ReaDYP, we're all about books, your way. We make reading personal. Our platform suggests books just for you, 
                based on what you love. We've got a library full of gems, and we're here to help you find your next favorite.
            </p>
            <p>
                Discover the magic of personalized book recommendations. Dive headfirst into a world of words handpicked just for you. 
                With our extensive library, we've got a page-turner for every mood and moment.
            </p>
        </div>

        <h2 class="tagline">ReaDYP for Deep Readers</h2>
    </div>
</div>
   -->