<div class="main">
    <h1 class="rl-title">Your Readlist</h1>

    <div class="container">
      <div class="card" *ngFor="let book of readlistbooks">
        <div class="row">
          <div class="col-md-3">
            <a [href]="book.infoLink" target="_blank">
              <img [src]="book.imageLink" class="card-img-top" alt="Book Image">
            </a>
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">{{ book.title }}</h5>
              <p class="card-subtitle mb-2">
                <strong>Author(s):</strong> {{ book.authors }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
