<div class="main">
    <div class="search-bar">
        <input [(ngModel)]='book' type="text" class="search-input" placeholder="Enter 'bookname' by 'Author(s)'" required>
        <button class="search-btn" (click)="generateText(book)">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <div class="container">
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <div class="card-body">
                <p class="card-text">{{outputtxt}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>